.container{
    margin:auto;
    width: 22vw;
    height: 22vw;
    box-shadow: 10px 10px 5px#ddd;
    transition: 0.3s ease;
}


.container:hover{
    cursor: pointer;
    width: 22.3vw;
    height: 22.3vw;
}

@media only screen and (max-width: 1200px) {
    .container {
      width: 150vw;
      height: 150vw;
      margin-bottom: 30px;
    }

    .container:hover{
        width: 155vw;
        height: 155vw;
    }
}