.main {
    background-color: #f3f3f3;
    height: 120vh;
    padding-top: 10px;
    color: #2C271C;
}

.title{
    font-weight: 200;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10px;
}

.lines {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 30px;
    display: flex;
}