.main {
    background-color: #f3f3f3;
    height: auto;
    padding-top: 10px;
    color: #2C271C;
}

.title{
    font-weight: 200;
    font-size: 7.5vh;
    text-align: center;
    margin-bottom: 10px;
}

.lines {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    padding-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
    .main{
        width: 200vw;
    }
    .lines {
      display: inline;
      padding-bottom: 30px;
    }
}