.outside{
    position: absolute;
    height: 110vh;
}
.container{
    top: 40%;
    transform: translate(0, -50%);
    position: absolute;
    left: calc((100vw - 100vmin) * 0.3);
    margin: auto;
    z-index: 100;
    height: auto;
    width: calc((100vw - 100vmin) * 0.3 + 100vmin);
    box-shadow: 10px 10px 5px rgba(20, 20, 20, 0.4);
    color: #2C271C;
}

.header{
    display: flex;
    height: 20vh;
    width: 100%;
    background-color: #47464D;
}

.modalTitle{
    display: flex;
    width: calc(100% - 20vh - 3%);
    font-size: 6.6vh;
    color: #f3f3f3;
    margin-left: 3%;
    font-weight: 200;
    align-items: center;
}

.modalIcon{
    position: absolute;
    right: 0;
    height: 20vh;
    width: 20vh;
}

.description{
    text-align: justify;
    min-height: 300px;
    color: #2C271C;
    background-color: #f3f3f3;
    font-size: 4.3vh;
    padding: 20px 35px 40px 35px;
}

.footer{
    background-color: #f3f3f3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.buttonMore{
    grid-column-start: 2;
    cursor: pointer;
    float: right;
    margin: 0 12px 20px auto;
    width: 90%;
    height: 8vh;
    line-height: 8vh;
    text-align: center;
    color: #2C271C;
    font-size: 4.3vh;
    background-image: linear-gradient(270deg, rgba(237, 125, 17, 0.73) 0%, #E36830 110.27%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 8px 8px 10px rgba(0, 0, 0, 0.25);
}

.buttonClose{
    grid-column-start: 3;
    cursor: pointer;
    float: right;
    margin: 0 20px 20px auto;
    width: 90%;
    height: 8vh;
    line-height: 8vh;
    text-align: center;
    color: #2C271C;
    font-size: 4.3vh;
    background-image: linear-gradient(270deg, #F3F3F3 0%, #DFDFDF 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 8px 8px 10px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 1200px) {
    .container{
        width: 170vw;
        margin: auto;
        left: 15vw;
    }
    .modalTitle{
        font-size: 5.4vh;
    }
    .outside{
        position: fixed;
        z-index: 100000;
        height: 0vh;
    }
}