.container {
}

.main {
  min-height: 100vh;
  background-color: #47464D;
  position: relative;
}

.imageContainer {
  height: 94.1vh;
  width: 90vh;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

.footer {
  background-color: #2C271C;
  height: 100px;
  padding-left: 40px;
  color: #f3f3f3;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer span{
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.footer div{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 3.6vh;
  vertical-align: middle;
}

.titles {
  padding-top: 6%;
  line-height: 1.15;
  font-size: 8.2vh;
  color: #f3f3f3;
  margin-left: 48%;
}

.myName{
  font-weight: 200;
}

.role{
  margin-top: 10px;
  font-weight: 600;
}

.summary{
  width: 83%;
  font-weight: 200;
  margin-top: 20px;
  font-size: 4.3vh;
  text-align: justify;
}

@media only screen and (max-width: 1200px) {
  .main{
      width: 200vw;
  }
  .imageContainer{
    height: 80vh;
    width: 95vw;
  }
  .titles {
    padding-top: 5%;
    font-size: 5.8vh;
    margin-left: 50%;
  }
  .summary{
    width: 87%;
    margin-top: 20px;
    font-size: 4vh;
    text-align: left;
  }
  .footer{
    width: 200vw;
  }
}