.container {
}

.main {
  min-height: 100vh;
  background-color: #47464D;
  position: relative;
}

.imageContainer {
  height: 90vh;
  width: 40vw;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

.footer {
  background-color: #2C271C;
  height: 100px;
  padding-left: 40px;
  color: #f3f3f3;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer span{
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.footer div{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  vertical-align: middle;
}

.titles {
  padding-top: 6%;
  line-height: 1.15;
  font-size: 4rem;
  color: #f3f3f3;
  margin-left: 45%;
}

.myName{
  font-weight: 200;
}

.role{
  margin-top: 10px;
  font-weight: 600;
}

.summary{
  width: 80%;
  font-weight: 200;
  margin-top: 20px;
  font-size: 1.8rem;
  text-align: justify;
}
